/bin/
/build/
out.txt
*.o
*.d
*.out
*.log
*.swp
*.swo
.vscode/
myshell/myshell
echoserver/UdpEchoClient
echoserver/UdpEchoServer
bin/
mystdio/main
pthread_cond/main
pthread_cond/pc
threadpool/threadpool
